*,
*::before,
*::after {
  box-sizing: border-box;
}

html{
  background-color: black;
  color: rgb(233, 233, 233);

  font-size: 10px;

  animation-name: redFont;
  animation-duration: 3s;
  animation-delay: 6s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

span::selection,
div::selection,
p::selection,
h1::selection,
h2::selection,
h3::selection,
h4::selection,
h5::selection,
h6::selection{
  color: rgb(150, 150, 150);
  background-color: #b41919
}

a::selection {
  color: white;
  background-color: #b41919
}

@keyframes redFont {
  0% {
    color: rgb(233, 233, 233)
  }
  100% {
    color: #b41919
  }
}

.lineUp {
  animation: 8s anim-lineUp ease-out 1;
  animation-fill-mode: forwards;
}
@keyframes anim-lineUp {
  0% {
    transform: translateY(0%);
  }
  10% {
    transform: translateY(0%);
  }
  30% {
    transform: translateY(-32%);
  }
  40% {
    transform: translateY(-32%);
  }
  60% {
    transform: translateY(-66%);
  }
  70% {
    transform: translateY(-66%);
  }
  100% {
    transform: translateY(-66%);
  }

}